@font-face {
	font-family: 'Dancing Script', cursive;
	src: url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
}
.Board {
	margin: 1% auto;
	box-shadow: -10px 0 100px #fa75c0;
	border-radius: 5px;
}

.Board-reset {
	margin-top: 10px;
	width: 5em;
	background-color:#fa75c0;
	color: black;
	outline: none;
	border-radius: 5px;
	font-family: 'Dancing Script', cursive;
}

.Board-reset:hover {
	width: 7em;
	transition: width 0.7s ease;
}

.Board-title {
	display: flex;
	align-items: center;
	justify-content: center;
}
.Board-name {
	font-family: 'Dancing Script', cursive;
	color: #fa75c0;
	font-size: 60px;
	text-shadow: 0 0 3vw #fa75c0;
}

.Board-winner {
	font-family: 'Dancing Script', cursive;
	color: #fa75c0;
	font-size: 60px;
	text-shadow: 0 0 3vw #fa75c0;
}
